<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openvdi.remoteclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.openvdi.remoteclient.application.GlobalApp"
        android:allowBackup="true"
        android:icon="@drawable/openvdi_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:alwaysRetainTaskState="true" >
        <activity
            android:name="com.openvdi.remoteclient.activities.MainActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />              
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
        </activity>
        <activity
            android:name="com.openvdi.remoteclient.activities.AddServerActivity"
            android:label="@string/add_server" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="com.openvdi.remoteclient.activities.ServerActivity"
            android:label="@string/server_list" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
          <activity
            android:name="com.openvdi.remoteclient.activities.LoginActivity"
            android:label="@string/login" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
         <activity
            android:name="com.openvdi.remoteclient.activities.ConnectActivity"
            android:label="@string/connect" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="com.openvdi.remoteclient.activities.DomainActivity"
            android:label="@string/domain" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name=".presentation.SessionActivity"
				android:theme="@android:style/Theme.Black.NoTitleBar"
				android:configChanges="orientation|keyboardHidden|keyboard"
				android:windowSoftInputMode="adjustResize">
			</activity>
        
        <!-- Session request handler activity - used for search and internally to start sessions -->
		<!-- This should actually be defined in FreeRDPCore lib but Android manifest merging will -->
		<!-- append the libs manifest to the apps manifest and therefore aliasing is not possible -->
		<!-- <activity android:name="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity"
			android:theme="@android:style/Theme.NoDisplay"
			android:noHistory="true"
			android:excludeFromRecents="true">
			<intent-filter>
			    <action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
      		<activity-alias android:name=".services.SessionRequestHandlerActivity"
            android:targetActivity="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity">	
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" 
				android:resource="@xml/searchable" />
        </activity-alias>
        <activity android:name="com.freerdp.freerdpcore.presentation.SessionActivity"
				android:theme="@android:style/Theme.Black.NoTitleBar"
				android:configChanges="orientation|keyboardHidden|keyboard"
				android:windowSoftInputMode="adjustResize">
			</activity> -->
    </application>

</manifest>